<% if @books.any? %>
  <% @books.each do |book| %>
    <%= link_to book.title, book_path(book) %>
  <% end %>
<% else %>
  <em>Sorry, no books found.</em>
<% end %>

<p>Enregistrer un nouveau livre :</p>
<%= link_to "Ajouter", new_book_path %>
