<h3>Tous mes avis</h3>
<% current_user.reviews.each do |review| %>
  <%= review.title %>
  <%= link_to "La modifier", edit_review_path(review) %>
  <%= link_to "La supprimer", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
